html {
  background: black url(./images/background.png) center center no-repeat;
  background-size: cover;
  color: white;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 500px) {
body { display: grid;} 
}

.Container {
  margin: 2vh auto;
  background-color: rgba(79, 109, 245, 0.8);
  padding: 1rem;
  /* border-radius: 2rem; */
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: 1.5em;
}
@media (min-width: 300px) {
  .Container { margin: 2vh; padding: 3rem;} 
  }
  @media (min-width: 500px) {
    .Container { margin: 7vw; padding: 3rem;} 
    }
header {}

.Avatar {
  display: block;
  max-width: 150px;
  height: auto;
  margin: 0 1em 1em 0;
  border-radius: 50%;
}
@media (min-width: 380px) {
  .Avatar { float: left;} 
  }
  @media (min-width: 930px) {
    .Avatar { width: clamp(130px 14vw 12rem);} 
    }

.TitlulPaginii {
  display: block;
  margin: 0;
  font-size: clamp(2rem, 6vw, 3rem);
  line-height: 1em;
}

.DescrierePrincipala {display: block; margin: 1em 3vw 2em ;}
@media (min-width: 500px) {
  .DescrierePrincipala { margin-bottom: 1em;} 
  }

main {clear: both;}

.ListaLinkuri {
  display: block;
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  .ListeLinkuri { display: grid; grid-template-columns: 1fr 1fr;} 
  }

.ListaItem {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #fff;
}

.ListaLink {
  display: block;
  padding: 0.5em;
  color: #fff;
  text-decoration: none;
}

.ListaLink:hover {
  background: rgb(194, 226, 239);
  color: black;
}

.ListaTitlu {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
}

.ListaText { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}